<gotr-session-display task-list="vm.taskList"></gotr-session-display>

<div class="row bottom-half">
    <div class="left-part columns">
        <ul class="tabs" data-tab>
            <li
                ng-repeat="tab in vm.tabs"
                class="tab-title"
                ng-class="{active: tab.active}">
                <a ng-click="vm.selectTab(tab)">{{tab.title}}</a>
            </li>
        </ul>

        <div class="tabs-content">
            <div
                ng-repeat="tab in vm.tabs"
                class="content"
                ng-class="{active: tab.active}">
                <div ng-include="tab.content"></div>
            </div>
        </div>
    </div>

    <div class="right-part columns">
        <gotr-anltcs-graph></gotr-anltcs-graph>
    </div>
</div>
