<gotr-session task-list="vm.taskList"></gotr-session>

<div class="row bottom-half">
    <div class="large-8 columns">
        <ul class="tabs" data-tab>
            <li class="tab-title active"><a href="#">Today</a></li>
            <li class="tab-title"><a href="#">Blocker</a></li>
            <li class="tab-title"><a href="#">Archive</a></li>
        </ul>

        <div class="tabs-content">
            <div class="content active">
                <gotr-task-list task-list="vm.taskList"></gotr-task-list>
            </div>
        </div>
    </div>

    <div class="large-4 columns">
        <gotr-anltcs-graph></gotr-anltcs-graph>
    </div>
</div>
