<div class="large-8 columns">
    <button
        class="secondary button"
        ng-show="vm.clock.isRunning"
        ng-click="vm.clock.stop()">
        Stop
    </button>

    <button
        class="secondary button"
        ng-hide="vm.clock.isRunning || !vm.started || vm.isFinished()"
        ng-click="vm.clock.start()">
        Resume
    </button>

    <button
        class="secondary button"
        ng-hide="vm.started && !vm.isFinished()"
        ng-disabled="vm.started"
        ng-click="vm.go()">
        Start
    </button>

    <button
        class="primary button"
        ng-disabled="!vm.started"
        ng-click="vm.reset()">
        Reset
    </button>
</div>

<div class="large-4 columns">
    <div ng-if="!vm.selecting">
        <gotr-knob
            ng-dblclick="vm.reset(); vm.selecting = true"
            value="vm.clock.elapsedTime"
            label=
                "vm.started ? vm.timeLeft() : vm.choice * 1000 | date: 'mm:ss'"
            max="vm.started ? vm.duration : 1"
            width="200">
        </gotr-knob>
    </div>

    <gotr-time-box
        ng-if="vm.selecting"
        on-choice="vm.choice = choice; vm.selecting = false">
    </gotr-time-box>
</div>
