<div class="hero">
    <div class="row">
        <div class="large-8 columns">
            <form class="task-form">
                <input type="text" placeholder="What are you working on?" />
            </form>

            <button
                class="secondary button radius"
                ng-show="vm.clock.isRunning"
                ng-click="vm.clock.stop()">
                Pause task
            </button>

            <button
                class="secondary button radius"
                ng-hide="vm.clock.isRunning || !vm.started || vm.isFinished()"
                ng-click="vm.clock.start()">
                Resume task
            </button>

            <button
                class="secondary button radius"
                ng-hide="vm.started && !vm.isFinished()"
                ng-disabled="vm.started"
                ng-click="vm.go()">
                Start task
            </button>

            <button
                class="primary button radius"
                ng-disabled="!vm.started"
                ng-click="vm.reset()">
                Reset timer
            </button>
        </div>

        <div class="large-4 columns">
            <div ng-if="!vm.selecting">
                <gotr-knob
                    ng-dblclick="vm.reset(); vm.selecting = true"
                    value="vm.clock.elapsedTime"
                    label="vm.started ? vm.timeLeft() : vm.choice * 1000 | date: 'mm:ss'"
                    max="vm.started ? vm.duration : 1"
                    width="200">
                </gotr-knob>
            </div>

            <gotr-time-box
                ng-if="vm.selecting"
                on-choice="vm.choice = choice; vm.selecting = false">
            </gotr-time-box>
        </div>
    </div>
</div>
