<div class="hero">
    <div class="row">
        <div class="left-part columns">
            <form class="task-form" ng-submit="vm.start()">
                <input
                    id="task-name-input"
                    type="text"
                    placeholder="What are you working on?"
                    ng-model="vm.session.task.title"
                />
            </form>

            <button
                class="secondary button large radius"
                ng-hide="vm.session.started"
                ng-click="vm.start()">
                Start task
            </button>

            <button
                class="secondary button large radius"
                ng-show="vm.session.started"
                ng-click="vm.session.complete()">
                Complete task
            </button>

            <button
                class="primary button large radius"
                ng-click="vm.archive(); vm.session.clear()"
                ng-hide="vm.session.started">
                {{ vm.session.task.isNew ? 'Add to list for later' : 'Create Task' }}
            </button>

            <button
                class="primary button large radius"
                ng-show="vm.session.started"
                ng-click="vm.session.reset()">
                Reset timer
            </button>
        </div>

        <div class="right-part columns">
            <div ng-if="vm.session.started">
                <gotr-knob
                    value="vm.session.elapsedTime()"
                    label="vm.session.timeRemaining() + 999 | date: 'mm:ss'"
                    max="vm.session.task.limit"
                    width="200">
                </gotr-knob>
            </div>

            <div
                ng-if="!vm.session.started">
                <div
                    ng-if="!vm.selecting"
                    ng-dblclick="vm.startSelecting()">
                    <gotr-knob
                        value="0"
                        max="1"
                        label="vm.session.task.limit | date: 'mm:ss'"
                        width="200">
                    </gotr-knob>
                </div>

                <div
                    ng-if="vm.selecting">
                    <gotr-time-box
                        choice="vm.session.task.limit"
                        on-done="vm.stopSelecting()">
                    </gotr-timebox>
                </div>
            </div>
        </div>
    </div>
</div>
