<div class="task-list">
    <ul>
        <li ng-repeat="task in vm.taskList | filter:!vm.isComplete track by task.id">
            <div class="left">
                <input type="checkbox" ng-model="task.completed">
                <span ng-bind="task.title"></span>
            </div>

            <div class="right">
                <button class="button secondary tiny radius">Start</button>
                <span>{{ task.limit / (60 * 1000) }} mins</span>
                <a ng-click="vm.remove(task)">&times;</a>
            </div>
        </li>
    </ul>

    <div ng-if="vm.completed().length !== 0">
        <span>Completed</span>
        <ul>
            <li ng-repeat="task in vm.taskList | filter:vm.isComplete track by task.id">
                <input type="checkbox" ng-model="task.completed">
                <span ng-bind="task.title"></span>
                <div class="hover-buttons right">
                    <button class="button tiny radius">Completed</button>
                    <span>{{ task.limit / (60 * 1000) }} mins</span>
                    <a ng-click="vm.remove(task)">&times;</a>
                </div>
            </li>
        </ul>
    </div>
</div>
