<div class="time-box">
    <form ng-submit="vm.done()">
        <input
            min="0"
            max="720"
            type="number"
            ng-model="vm.choice">
    </form>

    <button
        class="button info small radius"
        ng-click="vm.choice = 15">
        15
    </button>

    <button
        class="button info small radius"
        ng-click="vm.choice = 30">
        30
    </button>

    <button
        class="button info small radius"
        ng-click="vm.choice = 45">
        45
    </button>
</div>
