<!doctype html>
<html>
<head>
    <title>GrooveOtter &mdash; Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/login.css">

    <script src="//use.typekit.net/tpg8qjl.js"></script>
    <script>Typekit.load();</script>
    <script type="text/javascript" defer="defer" src="//script.opentracker.net/?site=grooveotter-demo.herokuapp.com"></script>
</head>

<body>
    <div class="gotrl-login-box-container">
        <div class="gotrl-login-box">
            <div class="gotrl-login-logobox">
                <img class="gotrl-login-logobox-logo" src="/GrooveOtter1.png"/>
            </div>

            <div class="gotrl-login-content">
                <a
                    id="gotrl-twitter-login-button"
                    href="<%= env.TWITTER_HOST %>/auth/twitter?callback=ORIGIN/app&newCallback=ORIGIN/signup-twitter"
                    class="gotrl-login-button gotrl-login-twitter">
                    <div>
                    <p><img src="/twitter-logo.png"></p> <span class='login-text'>
                    Login with Twitter
                    </span>
                    </div>
                </a>

                <a
                    id="gotrl-google-login-button"
                    href="<%= env.GOOGLE_HOST %>/auth/google?callback=ORIGIN/app"
                    class="gotrl-login-button gotrl-login-google">
                    <div>
                    <p><img src="/googleplus.png"></p> <span class='login-text'>
                    Login with Google </span>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <script>
        replaceWithOrigin(document.getElementById('gotrl-twitter-login-button'));
        replaceWithOrigin(document.getElementById('gotrl-google-login-button'));

        function replaceWithOrigin(el) {
            var url = el.href.replace(/ORIGIN/g, window.location.origin);
            el.href = url;
        }
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-4710282-5', 'auto');
      ga('send', 'pageview');
    </script>
    <script type="text/javascript" id="inspectletjs">
    window.__insp = window.__insp || [];
    __insp.push(['wid', 932612189]);
    (function() {
    function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
    document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', __ldinsp) : window.addEventListener('load', __ldinsp, false)) : __ldinsp();
    })();
    </script>
</body>
</html>
