@import "foundation/functions";

$primary-color: #5e81a2;
$secondary-color: #6eb08b;
$info-color: #ededed;

$topbar-bg-color: $primary-color;
$topbar-link-color: #aec0d0;
$topbar-link-bg-hover: $primary-color;
$topbar-link-bg-hover: scale-color($primary-color, $lightness: -14%);
