@import "foundation/functions";

$primary-color: #21434e;
$secondary-color: #90a8b0;
$info-color: #259cc4;

$button-font-lrg: rem-calc(16);

$topbar-bg-color: $primary-color;
$topbar-link-color: #aec0d0;
$topbar-link-bg-hover: $primary-color;
$topbar-link-bg-hover: scale-color($primary-color, $lightness: -14%);
