@import "foundation/functions";

$font-family-sans-serif: "proxima-nova", sans-serif;

$primary-color: #5e809e;
$secondary-color: #74aa8b;
$info-color: #f6f5f5;

$button-font-lrg: rem-calc(16);

$topbar-bg-color: $primary-color;
$topbar-link-color: #aec0d0;
$topbar-link-bg-hover: $primary-color;
$topbar-link-bg-hover: scale-color($primary-color, $lightness: -14%);
