@import "settings";
@import "foundation";

.hero {
    padding: 50px 0;
    background: #f6f5f5;
    min-height: 300px;
    left: 0;
    right: 0;
    position: relative;
}

.task-form input {
    border: 0;
    background: inherit;
    font-size: 2em;
    font-weight: 300;
    height: 2em;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
}

.time-box {
    max-width: 200px;
    padding: 30px;
    margin: 0 auto;
}

.time-box input {
    border: 0;
    box-shadow: none;
}

.time-box button {
    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
