@import "settings";
@import "foundation";

.button {
    box-sizing: border-box;
    min-width: 120px;
}

.button.tiny {
    min-width: 20px;
}

.button.small {
    min-width: 70px;
}

.button.large {
    min-width: 195px;
}

.hero {
    padding: 50px 0;
    background: #f6f5f5;
    min-height: 300px;
    left: 0;
    right: 0;
    position: relative;
}

.task-form input {
    border: 0;
    background: inherit;
    font-size: 2em;
    font-weight: 300;
    height: 2em;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
}

.time-box {
    max-width: 200px;
    padding: 30px;
    margin: 0 auto;
}

.time-box input {
    border: 0;
    box-shadow: none;
}

.time-box button.tiny {
    max-width: 43px;
    padding-left: 0.9rem;
    text-align: center;
    border: 1px solid #ccc;
}
