.gotr-archive {
    margin-top: 30px;

    & .gotr-button-nav {
        box-sizing: border-box;
        max-height: 39px;
        margin-right: 10px;
        font-size: 0.875em;
        padding: 10px 15px;
        font-weight: 600;
    }

    & .gotr-archive-week {
        margin-top: 30px;
    }

    & .gotr-archive-day {
        border-top: 1px solid $gotr-subtle;

        &:last-child {
            border-bottom: 1px solid $gotr-subtle;
        }

        &.gotr-archive-day-open {
            & .gotr-archive-day-tasks {
                display: block;
            }

            & .gotr-archive-day-title .gotr-archive-day-title-arrow {
                background: url(/down.svg) no-repeat 0 0;
            }
        }

        & .gotr-archive-day-tasks {
            border-top: 1px solid $gotr-subtle;
            display: none;
            padding: 30px 20px;
            color: $gotr-grey;

            & ol {
                list-style: decimal;
                margin: 0;
                padding-left: 25px;
            }
        }

        & .gotr-archive-day-title {
            padding: 15px 10px;
            overflow: hidden;

            &:hover {
                background: rgba(0, 0, 0, 0.025);
                cursor: pointer;
            }

            & .gotr-archive-day-title-range {
                font-size: 1.125em;
                display: inline-block;
                float: left;
            }

            & .gotr-archive-day-title-count {
                display: inline-block;
                float: right;

                & .gotr-archive-day-checkmark {
                    background: url(/checked.png) no-repeat 0 0;
                    margin: 10px;
                    padding: 1px 12px;
                }
            }

            & .gotr-archive-day-title-arrow {
                background: url(/right.svg) no-repeat 0 0;
                display: inline-block;
                float: right;
                height: 20px;
                width: 20px;
            }

            @media screen and (max-width: 480px) {
                .gotr-archive-day-title-count {
                    width: 50px;

                    .gotr-archive-day-title-count-words {
                        display: none;
                    }
                }

                .gotr-archive-day-title-arrow {
                    display: none;
                }
            }
        }
    }

    & .gotr-archive-task {
        & .gotr-archive-task-title {
            display: inline-block;
            font-size: 1.125em;
        }

        & .gotr-archive-task-count {
            display: inline-block;
            float: right;
            width: 160px;

            & .gotr-archive-task-clock {
                padding: 0 15px;
                margin: 10px;
                background: url(/clock.svg) no-repeat 0 0;
            }
        }

        & + .gotr-archive-task {
            margin-top: 30px;
        }
    }

    & .gotr-archive-left {
        width: 17px;
        background: url(/chevron-left.svg) no-repeat 0 0;
    }

    & .gotr-archive-right {
        width: 17px;
        background: url(/chevron-right.svg) no-repeat 0 0;
    }
}
