@import '../node_modules/slick-carousel/slick/slick';

.gotrl-top {
    background-image: url(/landing-background.jpg);
    background-position: center;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;

    .gotrl-top-content {
        background: rgba(0, 0, 0, 0.4);
        height: 100%;
        position: relative;
    }
}

.gotrl-top-container {
    height: 680px;
    position: relative;
}

.gotrl-panel {
    position: relative;
    padding: 160px 30px;
    overflow: hidden;

    .gotrl-panel-top, .gotrl-panel-bottom {
        height: 80px;
        left: 0;
        position: absolute;
        right: 0;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .gotrl-panel-top {
        top: 0;
    }

    .gotrl-panel-bottom {
        bottom: 0;
    }

    .gotrl-panel-content {
        max-width: 940px;
        margin: 0 auto;
    }
}

.gotrl-top-pointer {
    bottom: 25px;
    height: 35px;
    left: 0;
    position: absolute;
    right: 0;

    img {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 20px;
        transition: transform 500ms ease-in-out;
    }

    &:hover {
        cursor: pointer;

        img {
            transform: translateY(-15px);
        }
    }
}

#gotrl-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $gotr-white;
    box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.1);
    z-index: 5;

    .gotrl-navbar-content {
        padding: 15px 40px;
        overflow: hidden;

        img {
            max-height: 40px;
        }

        .gotrl-login-button {
            background: $gotr-offsecondary;

            &:hover {
                background: $gotr-secondary;
            }
        }
    }
}

.gotrl-top-navbar {
    padding: 25px 40px;
    overflow: hidden;

    img {
        max-height: 40px;
    }
}

.gotrl-navbar-left {
    float: left;
}

.gotrl-navbar-right {
    float: right;
}

.gotrl-hero {
    color: $gotr-white;
    text-align: center;

    h1 {
        margin-top: 15%;
        margin-bottom: 0;
        font-size: 3.75em;
    }

    h2 {
        margin-bottom: 50px;
        font-size: 1.625em;
    }
}

.gotrl-login-button {
    border-radius: 4px;
    border: 1px solid $gotr-offsecondary;
    box-sizing: border-box;
    color: $gotr-white;
    display: inline-block;
    font-weight: 700;
    padding: 0.6em;
    text-align: center;
    transition: background-color 100ms ease;
    width: 140px;

    &:hover {
        background: $gotr-offsecondary;
    }
}

.gotrl-getstarted-button {
    background: $gotr-offsecondary;
    border-radius: 4px;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color: $gotr-white;
    display: inline-block;
    font-size: 1.25em;
    font-weight: 700;
    padding: 1em;
    transition: background-color 100ms ease;
    width: 220px;

    &:hover {
        background: $gotr-secondary;
    }
}

.gotrl-text-block {
    max-width: 500px;

    h1 {
        font-size: 52px;
        line-height: 58px;
        font-weight: 200;
    }

    hr {
        border-bottom: 2px solid $gotr-secondary;
        width: 30px;
        margin: 30px 0;
    }

    p {
        color: $gotr-offgrey;
        font-size: 18px;
        line-height: 28px;
    }
}

#gotrl-panel-two {
    background: $gotr-offoffwhite;

    & > * {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
    }

    p {
        font-size: 1.75em;
        margin-bottom: 50px;
        text-align: center;
    }
}

#gotrl-panel-three {
    background: $gotr-offwhite;

    .gotrl-panel-bottom {
        margin-left: 30%;
    }

    .gotrl-panel-three-left {
        float: left;
        margin-right: 80px;
    }

    .gotrl-panel-three-right {
        float: left;
        width: 0;

        video {
            opacity: 0;
            margin-left: 700px;
            max-width: 700px;
            border-radius: 4px;
            box-shadow: -2px 2px 10px 1px rgba(0, 0, 0, 0.1);
        }

        @media screen and (max-width: 1000px) {
            width: 100%;

            video {
                width: 100%;
            }
        }
    }
}

#gotrl-panel-four {
    background: $gotr-white;

    .gotrl-panel-top {
        margin-left: 30%;
    }

    .gotrl-panel-four-left {
        float: left;
        margin-right: 110px;
        max-width: 330px;
        width: 100%;

        img {
            display: block;
            margin-left: -500px;
            opacity: 0;
        }

        @media screen and (max-width: 1000px) {
            float: none;
            margin: 0;
            width: 100%;
            max-width: none;

            img {
                max-width: 100%;
                margin: 0 auto;
            }
        }
    }

    .gotrl-panel-four-right {
        float: left;
    }
}

#gotrl-panel-five {
    background: $gotr-primary;

    .gotrl-panel-content {
        max-width: 800px;
        text-align: center;
    }

    .gotrl-panel-five-icon {
        display: block;
        border: 3px solid $gotr-white;
        box-sizing: border-box;
        border-radius: 100%;
        margin: 0 auto;
        width: 80px;
    }

    .gotrl-panel-five-text {
        color: $gotr-white;
        font-size: 24px;
        line-height: 36px;
    }

    .gotrl-panel-five-name {
        color: $gotr-white;
    }

    ul.slick-dots {
        margin: 0 auto;

        li {
            background: $gotr-offoffgrey;
            border-radius: 100%;
            display: inline-block;
            height: 10px;
            width: 10px;

            & + li {
                margin-left: 10px;
            }

            &.slick-active {
                background: $gotr-offoffoffgrey;
            }

            button {
                display: none;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

#gotrl-panel-six {
    background: $gotr-offprimary;
    color: $gotr-white;
    text-align: center;

    .gotrl-panel-six-calltoaction {
        display: inline-block;
        border-bottom: 1px solid $gotr-grey;
        font-size: 40px;
        font-weight: 200;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }

    .gotrl-getstarted-button {
        display: block;
        margin: 0 auto;
    }
}

.gotrl-footer {
    background: $gotr-white;

    .gotrl-footer-content {
        margin: 0 auto;
        max-width: 940px;
        padding: 60px 30px;
        text-align: center;
        overflow: hidden;

        .gotrl-footer-item {
            display: inline-block;
            vertical-align: top;
            line-height: 48px;
            height: 48px;
            margin: 0 15px;

            a {
                color: inherit;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            img {
                vertical-align: middle;
            }
        }
    }
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-30px);
    }
}

@media screen and (max-width: 960px) {
    .gotrl-hero {
        position: absolute;
        bottom: 55px;
        left: 30px;
        right: 30px;

        h1 {
            font-size: 2.25em;
        }

        h2 {
            font-size: 1em;
        }
    }

    .gotrl-top-container {
        max-height: 600px;
    }

    .gotrl-top {
        background-size: 1400px;
        background-position: 47% 50%;

        .gotrl-top-pointer {
            bottom: 15px;
        }
    }

    .gotrl-top-navbar, #gotrl-navbar .gotrl-navbar-content {
        padding: 15px;

        .gotrl-login-button {
            width: 100%;
            padding: 0.6em 1em;
        }
    }

    #gotrl-panel-two {
        p {
            font-size: 22px;
            line-height: 24px;
        }
    }

    #gotrl-panel-three .gotrl-panel-three-left {
        margin: 0;
    }

    .gotrl-text-block {
        h1 {
            font-size: 32px;
            line-height: 36px;
        }

        p {
            font-size: 16px;
            line-height: 24px;
        }
    }

    #gotrl-panel-four {
        .gotrl-panel-content {
            .gotrl-panel-left {
                img {
                    margin: 0;
                }
            }
        }
    }

    #gotrl-panel-five {
        .gotrl-panel-five-text {
            font-size: 18px;
            line-height: 24px;
        }

        .gotrl-panel-five-name {
            font-size: 14px;
        }
    }

    #gotrl-panel-six {
        .gotrl-panel-six-calltoaction {
            font-size: 32px;
        }
    }
}
