.gotr-nav-top {
    background: $gotr-primary;
    min-height: 4.375em;
    overflow: hidden;
}

.gotr-navbar {
    left: 0;
    position: relative;
    width: auto;

    & .gotr-navbar-left {
        float: left;
        padding: 15px 0 15px 35px;
    }

    & .gotr-navbar-right {
        float: right;
        padding: 26px 40px 26px 0;
    }

    & .gotr-navbar-item {
        padding: 0 20px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        & a {
            color: lighten($gotr-primary, 30%);
            font-weight: 700;
        }

        &:hover a, &.gotr-navbar-item-active a {
            color: $gotr-white;
        }
    }
}
