.gotr-nav-top {
    background: $gotr-primary;
    overflow: hidden;
}

.gotr-navbar {
    position: relative;
    width: auto;

    & .gotr-navbar-left {
        float: left;
        padding: 15px 0 15px 35px;
    }

    & .gotr-navbar-right {
        float: right;
        padding: 15px 35px 15px 0;
    }

    & .gotr-navbar-item {
        display: inline-block;
        max-height: 40px;
        padding: 0 20px;
        vertical-align: middle;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        & a {
            display: inline-block;
            color: lighten($gotr-primary, 30%);
            font-weight: 700;
        }

        &:hover a, &.gotr-navbar-item-active a {
            color: $gotr-white;
        }

        & .gotr-navbar-item-pic {
            box-sizing: border-box;
            display: inline-block;
            height: 40px;
            border-radius: 100%;
            border: 3px solid $gotr-white;
        }

        & .gotr-navbar-item-logout {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    @media screen and (max-width: $gotr-row-cutoff) {
        & .gotr-navbar-left, & .gotr-navbar-right {
            padding-left: ($gotr-row-padding / 2);
            padding-right: ($gotr-row-padding / 2);
        }
    }
}
