.gotr-newsfeed-container {
    background: $gotr-white;
    box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.1);
    min-height: 60px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.gotr-newsfeed {
    margin: 0 auto;
    max-width: $gotr-row-width;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;

    & .gotr-newsfeed-left {
        float: left;
    }

    & .gotr-newsfeed-right {
        float: right;
    }

    & .gotr-newsfeed-item {
        display: inline-block;
        max-height: 40px;
        padding: 10px 0;

        & b {
            font-weight: 600;
        }

        & .gotr-news-item-line, {
            vertical-align: middle;
        }

        & .gotr-newsfeed-item-pic {
            border-radius: 100%;
            border: 1px solid $gotr-white;
            box-sizing: border-box;
            display: inline-block;
            height: 40px;
            width: 40px;
            margin-right: 10px;
            vertical-align: middle;
            overflow: hidden;
            text-align: center;

            img {
                max-height: 40px;
            }
        }

        & .gotr-newsfeed-like {
            border-radius: 4px;
            border: 1px solid $gotr-subtle;
            box-sizing: border-box;
            font-weight: 600;
            height: 40px;
            width: 60px;
            padding: 0 10px;
            text-align: left;

            img {
                width: 20px;
            }

            span, img {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    @media screen and (max-width: $gotr-row-cutoff) {
        & .gotr-newsfeed-left, & .gotr-newsfeed-right {
            padding-left: ($gotr-row-padding / 2);
            padding-right: ($gotr-row-padding / 2);
        }
    }

    &.gotr-newsfeed-enter {
        margin-top: -60px;
        transition: margin-top 1000ms linear;

        &.gotr-newsfeed-enter-active {
            margin-top: 0;
        }
    }

    &.gotr-newsfeed-leave {
        transform: translateY(0);
        transition: transform 1000ms linear;

        &.gotr-newsfeed-leave-active {
            transform: translateY(60px);
        }
    }
}
