.gotr-tabs {
    border-bottom: 1px solid $gotr-subtle;

    .gotr-tab {
        border-bottom: 5px solid transparent;
        display: inline-block;
        margin: 0 20px;
        padding-bottom: 10px;
        position: relative;

        &.gotr-tab-active {
            border-color: $gotr-tab;

            .gotr-tab-title {
                color: $gotr-foreground;
            }
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            cursor: pointer;
        }

        .gotr-tab-title {
            font-weight: 600;
            color: $gotr-grey;
        }
    }

    .gotr-onboarding-container {
        left: -200px;
        right: -200px;

        @media screen and (max-width: 1180px) {
            left: -100px;
            right: -100px;
        }
    }

    .gotr-onboarding-arrows-down {
        display: none;
    }
}
