.gotr-timer-area-container {
    height: 200px;
}

.gotr-timer-area {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: $gotr-offwhite;

    &.gotr-timer-area-selecting {
        position: absolute;
        z-index: 10;
        background-color: white;
    }
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.gotr-timer {
    -webkit-user-select: none;
    user-select: none;
    height: 200px;
    position: relative;

    &:hover {
        cursor: pointer;
    }

    & .gotr-timer-counter {
        font-size: 2.3em;
        vertical-align: middle;
        line-height: 200px;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    & .gotr-timer-pencil {
        display: block;
        margin: 0 auto;
        position: relative;
        bottom: 75px;
    }
    & .gotr-timer-graphic {
        width: 200px;
        height: 200px;
        display: inline-block;
        position: absolute;
        top: 0;

        & .gotr-timer-background, & .gotr-timer-shadow, & .gotr-timer-foreground {
            fill: none;
        }

        & .gotr-timer-background, & .gotr-timer-shadow {
            stroke-width: 24px;
        }

        & .gotr-timer-shadow {
            stroke: rgba(0, 0, 0, 0.1);
        }

        & .gotr-timer-background {
            stroke: $gotr-offoffwhite;
        }

        & .gotr-timer-foreground {
            stroke: $gotr-secondary;
            stroke-width: 3px;
        }
    }
}

.gotr-selector {
    max-width: 134px;
    height: 100px;
    margin: 50px auto;

    & .gotr-selector-option {
        border: 1px solid $gotr-subtle;
        color: inherit;
        height: 38px;
        margin-right: 5px;
        width: 41px;
        transition:
            border-color 100ms ease,
            color 100ms ease,
            background-color 100ms ease;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: $gotr-white;
            border-color: $gotr-secondary;
            background: $gotr-secondary;
        }
    }

    & .gotr-selector-box {
        background: #fff;
        border-radius: 4px;
        height: 25px;
        margin-bottom: 10px;
        max-width: 103px;
        padding: 15px;
        font-size: 1.125em;
        box-shadow: 0 1.5px 1px 0 rgba(0, 0, 0, 0.1);

        & .gotr-selector-box-input {
            width: 60px;
        }
    }
}
