.gotr-toaster {
    position: fixed;
    max-width: 300px;
    right: 12px;
    bottom: 12px;
    z-index: 20;
}

.gotr-toaster-toast {
    height: 90px;
    background: $gotr-white;
    box-shadow: 3px 3px 12px 0 rgba(0, 0, 0, 0.1);
    position: relative;

    &:hover {
        box-shadow: 3px 3px 12px 0 rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }

    @media screen and (max-width: 480px) {
        width: 100%;
    }

    &.gotr-toaster-enter {
        margin-bottom: -86px; // 80 + 12 - 6
        transition: margin-bottom 200ms ease-out;

        &.gotr-toaster-enter-active {
            margin-bottom: 0;
        }
    }

    &.gotr-toaster-leave {
        opacity: 1;
        transition: opacity 500ms ease-in;

        &.gotr-toaster-leave-active {
            opacity: 0;
        }
    }

    & + & {
        margin-top: 6px;
    }
}

.gotr-toaster-text {
    padding: 20px 20px 15px 20px;
    border-bottom: 5px solid $gotr-secondary;
    height: 100%;
    box-sizing: border-box;
}

.gotr-toaster-text-highlight {
    color: $gotr-primary;
}

.gotr-toaster-pic {
    position: absolute;
    left: -90px;

    img {
        width: 90px;
        height: 90px;
    }
}
